@charset"utf-8";

.main_top {
    background-image: url(image/mv_top.png);
    background-size: cover;
    background-position: center;
    height: 870px;
    padding-top: 70px;
}

.main_top-text {
    display: block;
    max-width: 800px;
    margin: 0 auto;
}

.main_top-text :nth-of-type(2) {
    text-align: right;
    padding: 100px 0 5px;

}

.main_top-text :nth-of-type(3),
.main_top-text :nth-of-type(4) {
    text-align: center;
}

.main_bottom {
    background-color: white;
    text-align: center;
}

.main_bottom li {
    display: block;
    padding: 30px;
}

.banner {
    background-color: white;
    text-align: center;

}

.banner img {
    height: 60px;
    padding: 30px 10px 20px;
}

#youtube_content {

    display: block;
}

#oll {
    display: block;
}
