@charset"utf-8";

header {
    background-color: black;
    width: 100%;
    padding: 5px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.nav_left li {
    display: inline-block;
    padding: 5px 10px;
}

.nav_left li + li {
    border-left: 1px solid white;
}

.nav_right {
    text-align: right;

}

.nav_right li {
    display: inline-block;
    padding: 5px 10px;
}

.nav_right li + li {
    border-left: 1px solid white;
}

.main_top {
    background-image: url(image/mv_top.png);
    background-size: cover;
    width: 100%;
    padding-top: 70px;
}

.main_top-text {
    display: block;
    max-width: 800px;
    margin: 0 auto;
}

.main_top-text :nth-of-type(2) {
    text-align: right;
    padding: 100px 0 5px;

}

.main_top-text :nth-of-type(3),
.main_top-text :nth-of-type(4) {
    text-align: center;
}

.main_center {
    max-width: 100%;
    padding: 0;
    margin: 0;
}

.main_bottom {
    background-color: white;
    text-align: center;
}

.main_bottom li {
    display: block;
    padding: 30px;
}

.banner {
    background-color: white;
    text-align: center;

}

.banner img {
    height: 60px;
    padding: 30px 10px 20px;
}
