@charset"utf-8";
.sabtitle{
    text-align: left;
}
.title{
    text-align: center;
}
.nav_top {
    list-style-type: none;
    padding: 15px 0;
}
.main {
    width: 750px;
}
.center{
    width: 500px;
    margin: 0 auto;
}
.nav_top li {
    border-left: 1px solid black;
    padding: 0 10px;
}
.nav_top li:first-child {
    border-left:none;
}
table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
}
.eria {
    color:#cb4132;
    margin: 30px 0;
}
.eria::before{
    content: "";
    display: inline-block;
    background: #cb4132;
    width: 15px;
    height: 15px;
    margin-bottom:8px;
}
.t_top th{
    background-color: #FBEFEF;
    font-size: 8px;
    height: 20px;
    font-weight: bold;
}
.city {
    width: 100px;
    height: 40px;
}
.theater {
    width: 230px;
}
.day {
    width: 100px;
}
.ticket{
    width: 80px;
}
th,td{
    border: 2px solid #cb4132;;
    font-size: 12px;
    font-weight: bold;
}
.pagetop{
    margin: 40px 0;
    text-align: right;
}