@charset "utf-8";

.header_nav li:nth-of-type(4) {
	transform: translateX(0px);
}

main {
	height: 1600px;
}

.main_title {
	width: 450px;
}

.main_content-border {
	width: 55%;
}

.main_content-img {
	position: absolute;
	top: 170px;
	left: 4%;
	width: 67%;
	height: auto;
	filter: brightness(90%) contrast(90%);
}

.img_left {
	float: left;
	width: 40%;
}

.img_left img {
	width: 100%;
}

.img_right {
	float: right;
	width: 55%;
}

.img_right-name img {
	width: 100%;
}

.img_right-face img {
	width: 100%;
	padding: 30px 0;
}

.img_right-txt {
	color: white;
	width: 100%;
	font-size: 20px;
	line-height: 30px;
}

.main_content-imgBtn {
	width: 120%;
	height: 550px;
	padding-left: 10%;
	margin-top: 5%;
	box-shadow: none;
	outline: none;
}

.main_content-imgBtn div:nth-of-type(2) {
	position: absolute;
	top: 10%;
	left: 12%;
}

.main_content-imgBtn div:nth-of-type(3) {
	position: absolute;
	left: 24%;
}

.main_content-imgBtn div:nth-of-type(4) {
	position: absolute;
	top: 10%;
	left: 36%;
}

.main_content-imgBtn div:nth-of-type(5) {
	position: absolute;
	left: 48%;
}

.main_content-imgBtn div:nth-of-type(6) {
	position: absolute;
	top: 10%;
	left: 60%;
}

.main_content-imgBtn div:nth-of-type(7) {
	position: absolute;
	left: 72%;
}

.main_content-imgBtn div:nth-of-type(8) {
	position: absolute;
	top: 10%;
	left: 84%;
}

.main_content-imgBtn div:nth-of-type(9) {
	position: absolute;
	top: 30%;
}

.main_content-imgBtn div:nth-of-type(10) {
	position: absolute;
	top: 40%;
	left: 12%;
}

.main_content-imgBtn div:nth-of-type(11) {
	position: absolute;
	top: 30%;
	left: 24%;
}

.main_content-imgBtn div:nth-of-type(12) {
	position: absolute;
	top: 40%;
	left: 36%;
}

.main_content-imgBtn div:nth-of-type(13) {
	position: absolute;
	top: 30%;
	left: 48%;
}

.main_content-imgBtn div:nth-of-type(14) {
	position: absolute;
	top: 40%;
	left: 60%;
}

.main_content-imgBtn div:nth-of-type(15) {
	position: absolute;
	top: 30%;
	left: 72%;
}

.main_content-imgBtn div:nth-of-type(16) {
	position: absolute;
	top: 40%;
	left: 84%;
}

.main_content-imgBtn div:nth-of-type(17) {
	position: absolute;
	top: 60%;
}

.main_content-imgBtn div:nth-of-type(18) {
	position: absolute;
	top: 70%;
	left: 12%;
}

.main_content-imgBtn img {
	width: 300%;
	height: 20%;
}

.light {
	opacity: 0.7;
}

.active {
	opacity: 1;
}
