@charset "utf-8";
.header_nav li:nth-of-type(4)::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 2px;
    margin: 5px 8px 5px 0;
    background-color: #fff;
}

main{
	height: 1800px;
}

.main_title {
	width: 450px;
}

.main_content-border {
	width: 55%;
}

.main_content-img {
	position: absolute;
	top: 170px;
	left: 6%;
	width: 55%;
	height: auto;
	filter: brightness(90%) contrast(90%);
}

.main_content-imgCara{
	padding-bottom: 100px;
}

.main_content-imgCara li{
	display: flex;
}

.img_left img{
	width: 400px;
	padding-right: 50px;
}

.img_right-name img{
	width: 500px;
}
.img_right-face img{
	width: 500px;
	padding: 30px 0;
}
.img_right-txt{
	color: white;
	width: 500px;
	font-size: 20px;
	line-height: 30px;
}
.main_content-imgBtn ul{
	display: flex;
	padding-left: 100px;
}
.main_content-imgBtn li{
	padding: 30px 0 ;
}
.main_content-imgBtn img{
	width: 140px;
}
.main_content-imgBtn li:nth-of-type(2),
.main_content-imgBtn li:nth-of-type(4),
.main_content-imgBtn li:nth-of-type(6),
.main_content-imgBtn li:nth-of-type(8){
	position: relative;
	top: 60px;
	right: 40px;
}
.main_content-imgBtn li:nth-of-type(3),
.main_content-imgBtn li:nth-of-type(5),
.main_content-imgBtn li:nth-of-type(7){
	position: relative;
	right: 80px;
}

.main_content-imgBtn li:nth-of-type(4){
	position: relative;
	right: 120px;
}
.main_content-imgBtn li:nth-of-type(5){
	position: relative;
	right: 160px;
}
.main_content-imgBtn li:nth-of-type(6){
	position: relative;
	right: 200px;
}
.main_content-imgBtn li:nth-of-type(7){
	position: relative;
	right: 240px;
}

.main_content-imgBtn li:nth-of-type(8){
	position: relative;
	right: 280px;
}





