@charset "utf-8";

.header_nav li:nth-of-type(4) {
	transform: translateX(0px);
}

main {
	height: 1600px;
}

.main_title {
	width: 450px;
}

.main_content-border {
	width: 55%;
}

.main_content-img {
	position: absolute;
	top: 170px;
	left: 4%;
	width: 67%;
	height: auto;
	filter: brightness(90%) contrast(90%);
}

.img_left {
	float: left;
	width: 40%;
}

.img_left img {
	width: 400px;
}

.img_right {
	float: right;
	width: 55%;
}

.img_right-name img {
	width: 500px;
}

.img_right-face img {
	width: 500px;
	padding: 30px 0;
}

.img_right-txt {
	color: white;
	width: 500px;
	font-size: 20px;
	line-height: 30px;
}

.main_content-imgBtn {
	height: 550px;
	padding-left: 20%;
	margin-top: 5%;
	box-shadow: none;
	outline: none;
}

.main_content-imgBtn div:nth-of-type(2) {
	position: absolute;
	top: 9%;
	left: 11%;
}

.main_content-imgBtn div:nth-of-type(3) {
	position: absolute;
	left: 22%;
}

.main_content-imgBtn div:nth-of-type(4) {
	position: absolute;
	top: 9%;
	left: 33%;
}

.main_content-imgBtn div:nth-of-type(5) {
	position: absolute;
	left: 44%;
}

.main_content-imgBtn div:nth-of-type(6) {
	position: absolute;
	top: 9%;
	left: 55%;
}

.main_content-imgBtn div:nth-of-type(7) {
	position: absolute;
	left: 66%;
}

.main_content-imgBtn div:nth-of-type(8) {
	position: absolute;
	top: 9%;
	left: 77%;
}

.main_content-imgBtn div:nth-of-type(9) {
	position: absolute;
	top: 29%;
}

.main_content-imgBtn div:nth-of-type(10) {
	position: absolute;
	top: 38%;
	left: 11%;
}

.main_content-imgBtn div:nth-of-type(11) {
	position: absolute;
	top: 29%;
	left: 22%;
}

.main_content-imgBtn div:nth-of-type(12) {
	position: absolute;
	top: 38%;
	left: 33%;
}

.main_content-imgBtn div:nth-of-type(13) {
	position: absolute;
	top: 29%;
	left: 44%;
}

.main_content-imgBtn div:nth-of-type(14) {
	position: absolute;
	top: 38%;
	left: 55%;
}

.main_content-imgBtn div:nth-of-type(15) {
	position: absolute;
	top: 29%;
	left: 66%;
}

.main_content-imgBtn div:nth-of-type(16) {
	position: absolute;
	top: 38%;
	left: 77%;
}

.main_content-imgBtn div:nth-of-type(17) {
	position: absolute;
	top: 58%;
}

.main_content-imgBtn div:nth-of-type(18) {
	position: absolute;
	top: 68%;
	left: 11%;
}

.main_content-imgBtn img {
	width: 120px;
}

#light02,
#light03,
#light04,
#light05,
#light06,
#light07,
#light08,
#light09,
#light10,
#light11,
#light12,
#light13,
#light14,
#light15,
#light16,
#light17,
#light18 {
	opacity: 0.7;
}

#light01 {
	opacity: 1;
}
