@charset"utf-8";

body {
    height: 100%;
    background-image: url(image/topimage1.png);
}

.mainNav_logo {
    background: none;
}

.mainNav_logo img {
    padding: 20px 0;
}

.mainNav_logo-border {
    border-top: 1px solid white;
}

.main_sns {
    width: 100%;
    height: 80px;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    padding-top: 20px;
    border-top: 1px solid white;
}

.main_sns li {
    width: 80px;
    height: 25px;
    margin: 5px auto;
    display: block;
    background: blue;
    border-radius: 5px;
}

.main_sns a {
    color: white;
}

.main_sns a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

@media screen and (min-width:643px) {
    .mainNav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mainNav_logo {
        display: block;
        width: 100%;
        height: 150px;
        background: rgba(0, 0, 0, 0.3);
    }

    .main_sns {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        border-top: none;
    }

    .main_sns li {
        display: inline-block;
        margin: 15px 5px;
        padding: 0 5px;
    }
}

@media screen and (min-width:998px) {
    .mainNav_logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }


}
