@charset"utf-8";
nav {
    background-image:url(../saiainodaichi/saiainodaichi/img_menu_bg.png);
    background-size: cover;
    height:60px;
}
.main{
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 15px;
}
nav li {
    display: inline-block;
    border-left: 1px solid white;
    padding: 0 10px;
    
}
nav li:first-child {
    border-left:none;
}
.top {
    max-width: 80%;
    background-image:url(../saiainodaichi/saiainodaichi/top_bg.jpg);
    background-size:cover;
    width: 1000px;
    height:500px;
margin: 0 auto;
}
.top_bottom {
    max-width: 80%;
    background-image:url(../saiainodaichi/saiainodaichi/img_containerBg.jpg);
    width: 1000px;
    height:600px;
    background-size: auto;
    margin: 0 auto;
}
.icon {
    text-align: left;
    padding: 3% 0 0 3%;
}
.bun {
     position: absolute;
    top:8%;
    left: 48%;
}
.bun img {
    width: 80%;
    height: auto;
}
#index .title {
    position: absolute;
    top:390px;
    left: 0;
    right: 0;
    margin: auto;
}
.sabtitle {
  text-align: center;
    padding-top:8%;
    padding-bottom: 2%;
}
.coment {
    position: absolute;
    top:460px;
    left: 800px;
    right: 0;
    margin: auto;
}
/*ここでホバー時に白くするはずがならない*/
.coment:hover {
    opacity:0.8;
    filter:alpha(opacity=500);
}
.moji {
    padding: 3% 0;
}
.moji img {
    max-width: 80%;
}
.under{
    max-width: 85%;
    margin: 0 auto;
}
.under ul {
    list-style-type: none;
    text-align: left;
}
.under li {
    display: inline-block;
    margin: 10px 15px;
}