@charset"utf-8";
*{
    margin: 0;
    padding: 0;
}
body {
    background-image:url(../saiainodaichi/saiainodaichi/img_mainBg.jpg);
    margin: 0 auto;
    background-size: auto;
    font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,serif;
}
