@charset "utf-8";

@keyframes slide3 {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(5px, -15px);
	}
}

@keyframes slide4 {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(-5px, 15px);
	}
}

.header_nav li:nth-of-type(10) {
	transform: translateX(0px);
}

main {
	height: 2100px;
}

.main_title {
	width: 500px;
}

.main_content-img {
	display: block;
	position: absolute;
	top: 170px;
	left: 15%;
	width: 60%;
	height: auto;
}

.main_content-img ul {
	text-align: center;
}

.main_content-img p {
	background-color: black;
	color: white;
	font-size: 30px;
	font-weight: bold;
	display: inline-block;
	margin: 10px 20px;
}

.main_content-img span {
	color: #f6b80b;
}

.main_content-imgTxt {
	text-align: left;
}

.main_content-imgTitle {
	width: 100%;
	padding: 20px;

}

.main_content-imgIcon {
	height: 60px;
	text-align: center;
	padding: 20px;
}

.main_content-imgWhat {
	width: 110%;
	padding: 20px;
}

.main_content-imgLineup {
	width: 110%;
	padding: 40px 20px 20px;
}

.main_content-imgCorner {
	width: 100%;
	padding: 20px 20px 20px 100px;
}

.main_content-imgYoutube {
	position: relative;
	z-index: 2;
	width: 95%;
	background-color: #F6821E;
	padding: 30px;
	margin: 20px;
}

.main_content-imgBr {
	position: relative;
	top: -135px;
	left: 15px;
	z-index: 1;
	width: 100%;
	height: 125px;
	border: 2px solid white;
}

.main_content-imgBox:hover ~ .main_content-imgBr {
	animation: slide3 .3s ease-out forwards;
}

.main_content-imgBox ~ .main_content-imgBr {
	animation: slide4 .3s ease-out forwards;
}
