@charset "utf-8";

.header_nav li:nth-of-type(6) {
	transform: translateX(0px);
}

main {
	height: 2700px;
}

.main_content-img {
	position: absolute;
	top: 170px;
	left: 12%;
	width: 68%;
	height: 2300px;
	background-color: black;
	border: 2px solid #F6821E;
}

.main_content-vol {
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	background-color: #F6821E;
	padding: 1px 50px;
}

.main_content-img01 {
	text-align: right;
}

.main_content-img01 li:nth-of-type(2) {
	color: white;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	padding: 40px 0;
}

.main_content-img02 {
	display: flex;
	text-align: center;
	padding: 0 40px;
}

.main_content-img02 li:first-of-type img {
	width: 250px;
	filter: brightness(90%) contrast(90%);
}

.main_content-img02 li:nth-of-type(2) {
	text-align: left;
	padding: 0 0 0 30px;
}

.main_content-img02 li:nth-of-type(2) img {
	position: relative;
	top: 3px;
	width: 20px;
	padding-right: 10px;
}

.main_content-img02 li:nth-of-type(2) span {
	font-size: 12px;
	color: #f6821e;
}

.main_content-img02 li:nth-of-type(2) p {
	font-size: 14px;
	padding-left: 30px;
}

.main_content-img02 li:nth-of-type(2) p:last-of-type {
	font-size: 10px;
	padding-left: 30px;
	padding-top: 20px;
}

.main_content-img li:nth-of-type(4) {
	text-align: center;
}

.main_content-img li:nth-of-type(4) img {
	width: 90%;
	padding: 20px 40px;
}

.main_content-img li:nth-of-type(5) {
	color: white;
	text-align: left;
	font-size: 15px;
	font-weight: bold;
	padding: 0 40px 30px;
}

.main_content-img li:nth-of-type(5) span {
	color: #f6821e;
	font-size: 14px;
	font-weight: normal;
}

.main_content-img03 {
	display: flex;
}

.main_content-img03 li:first-of-type {
	padding: 0 20px;

}

.main_content-img03 li:nth-of-type(2) {
	text-align: left;
	font-size: 15px;
	padding: 0;
	width: 80%
}

.main_content-img li:nth-of-type(6) {
	text-align: center;
	background-color: #f6821e;
	margin: 0 40px;
}

.main_content-img04 li:first-of-type img {
	width: 30px;
	padding-right: 30px;
}

.main_content-img04 li:first-of-type {
	text-align: right;
}

.main_content-img04 li:nth-of-type(2) {
	position: relative;
	bottom: 10px;
	color: black;
	padding: 0;
}

.main_content-img04 li:nth-of-type(3) img {
	position: relative;
	bottom: 15px;
	width: 100%;
}

.main_content-img04 li:nth-of-type(4) {
	font-weight: bold;
	font-size: 17px;
	padding-bottom: 20px;
}

.main_content-img04 li:nth-of-type(5) {
	color: black;
	width: 70%;
	font-weight: bold;
	font-size: 15px;
	margin: 0 auto;
}

.main_content-img04 li:nth-of-type(5) dl {
	display: flex;

}

.main_content-img04 li:nth-of-type(5) dt {
	width: 120px;
	text-align: left;
}

.main_content-img04 li:nth-of-type(5) dd {
	max-width: 600px;
	text-align: left;
}

.main_content-img04 li:nth-of-type(5) .txt {
	text-decoration: line-through;
}

.main_content-img04 li:nth-of-type(5) span {
	color: #a90000;
	font-weight: bold;
}

.main_content-img04 li:nth-of-type(5) p {
	text-align: center;
	font-size: 10px;
	padding-top: 20px;
}

.main_content-img li:nth-of-type(7) {
	color: white;
	font-size: 12px;
	text-align: left;
	padding: 40px 40px;
}

.main_content-imgPage {
	text-align: center;
	padding-top: 50px;

}

.main_content-imgPage li {
	display: inline-block;
}

.main_content-imgPage li img {
	position: relative;
	top: 7px;
	width: 20px;
	padding-left: 10px;
}

.main_content-imgPage a {
	color: white;
	font-size: 20px;
	font-weight: bold;
}

.main_content-imgPage a:hover {
	color: #f6821e;
}

.main_content-imgMenu {
	position: absolute;
	top: 200px;
	left: 50px;
	width: 100px;
}

.main_content-imgMenu ul {
	padding-bottom: 20px;
}

.main_content-imgMenu li {
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
	color: white;
}

.main_content-imgMenu a {
	color: white;
}

.main_content-imgMenu li:first-of-type {
	color: #f6821e;
}

.main_content-imgMenu li::before {
	content: "";
	display: inline-block;
	width: 15px;
	height: 2px;
	margin: 5px 5px 5px 0;
	background-color: white;
}

.main_content-imgMenu li:first-of-type::before {
	background-color: #f6821e;
}

.main_content-imgMenu li:nth-of-type(2)::before,
.main_content-imgMenu li:nth-of-type(3)::before,
.main_content-imgMenu li:nth-of-type(4)::before,
.main_content-imgMenu li:nth-of-type(5)::before,
.main_content-imgMenu li:nth-of-type(6)::before,
.main_content-imgMenu li:nth-of-type(7)::before {
	opacity: 0;
}

.main_content-imgMenu li:nth-of-type(2):hover::before,
.main_content-imgMenu li:nth-of-type(3):hover::before,
.main_content-imgMenu li:nth-of-type(4):hover::before,
.main_content-imgMenu li:nth-of-type(5):hover::before,
.main_content-imgMenu li:nth-of-type(6):hover::before,
.main_content-imgMenu li:nth-of-type(7):hover::before {
	opacity: 1;
	transition: all .3s;
}

.main_content-imgMenu li:nth-of-type(2),
.main_content-imgMenu li:nth-of-type(3),
.main_content-imgMenu li:nth-of-type(4),
.main_content-imgMenu li:nth-of-type(5),
.main_content-imgMenu li:nth-of-type(6),
.main_content-imgMenu li:nth-of-type(7) {
	transform: translateX(-25px);
}

.main_content-imgMenu li:nth-of-type(2):hover,
.main_content-imgMenu li:nth-of-type(3):hover,
.main_content-imgMenu li:nth-of-type(4):hover,
.main_content-imgMenu li:nth-of-type(5):hover,
.main_content-imgMenu li:nth-of-type(6):hover,
.main_content-imgMenu li:nth-of-type(7):hover {
	transform: translateX(0px);
	transition: all .3s;
}
