@charset"utf-8";

body {
    max-width: 80%;
    text-align: center;
    background-image:url(../saiainodaichi/saiainodaichi/img_mainBg.jpg);
    margin: 0 auto;
    background-size: auto;
}

nav {
    background-image:url(../saiainodaichi/saiainodaichi/img_menu_bg.png);    
    background-size: cover;
    height:60px;
}
nav ul {
    list-style-type: none;
    padding: 15px;
}
nav li {
    display: inline-block;
    border-left: 1px solid white;
    padding: 0 10px;
    
}
nav li:first-child {
    border-left:none;
}

.top {
    background-image:url(../saiainodaichi/saiainodaichi/top_bg.jpg);
    background-size:contain;
    width: 1000px;;
    height:500px;
margin: 0 auto;
}

.top_bottom {
    background-image:url(../saiainodaichi/saiainodaichi/img_containerBg.jpg);  
    width: 1000px;;
    height:600px;
    background-size: auto;
    margin: 0 auto;
}

.icon {
    text-align: left;
    padding: 3% 0 0 3%;
}

.bun {
     position: absolute;
    top:8%;
    left: 48%;
}

.bun img {
    width: 80%;
    height: auto;
}

.title {
    position: absolute;
    top:35%;
    left: 32%;
}

.sabtitle {
  text-align: center;
    padding-top:8%;
    padding-bottom: 2%;
}

.coment {
    position: absolute;
    top:40%;
    right: 26%;   
}

/*ここでホバー時に白くするはずがならない*/
.coment:hover {
    opacity:0.8;
    filter:alpha(opacity=500);
}

.moji {
    padding: 3% 0;
}

.moji img {
    max-width: 80%;
}

.under{
    max-width: 85%;
    margin: 0 auto;
}

.under ul {
    list-style-type: none;
    text-align: left;
}

.under li {
    display: inline-block;
    margin: 10px 15px;
}
