@charset"utf-8";

body{
    max-width: 55%;
    background-image:url(../saiainodaichi/saiainodaichi/img_mainBg.jpg);
    background-position:100%;
    margin: 0 auto;
}
.center{

}
.top{

}
.top_bottom{
    
}
nav ul{
    list-style-type: none;
    text-align: center;
}
nav li{

    display: inline-block;

    border-left: 1px solid white;
}
nav li:first-child{

    border-left:none;
}