@charset"utf-8";

main {
    background-image: url(../image/bg_about.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    display: flex;
    padding-top: 50px;
}

h2{
    color: #E88A1D;
    font-weight: lighter;
    font-size: 14px;
    border-bottom: 1px solid white;

}
h6{
    padding-top: 30px;
    font-size: 10px;
    font-weight: lighter;
    color: #707942;
}

p {
    color: white;
    font-size: 12px;
    padding: 15px 0;
}
