@charset"utf-8";
@media screen and (min-width:643px) {
header{
	background-color: black;
	display: flex;
	align-items:center;
	justify-content: flex-start;
}
.header_btn{
	padding-right: 10%;
	}
.header_btn img{
	width: 150px;
	}
.header_title{
	padding-top: 10px;
	}
main{
	background:url(../image/special_bg_01.png);
	position: relative;
	z-index: 1;
	}
	h1{
		padding: 40px 0;
		text-align: center;
	}
	h1 img{
		height: 80px;
	}
	.main_content{
				display: flex;
			align-items:center;
		justify-content: center;
		padding:40px;

	}
	.main_content-txt{
	padding-left: 20px;
	}
	.main_content img{
		width: 300px;
		border: 4px solid red;
		position: relative;
		z-index: 3;
	}
	.main_content-txt p{
	color:white;
	font-weight:bold;
	font-size: 32px;
		position: relative;
		z-index: 3;
	}
	.main_pagelink{
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
		padding: 50px 0 150px;
		opacity: 0.5;
	}
		.main_pagelink p{
			font-size: 50px;
			font-weight: bold;
			padding: 0 50px;
	}
		.main_pagelink img{
			width: 36px;
	}
	.main_666-animation01{
	position: fixed;
    top: 420px;
	right: 200px;
    width: 100%;
    	z-index: 2;
    opacity: 0.7;
	animation: right 8s linear infinite;
	}
	.main_666-animation01 img{
	height: 60px;
	}
		.main_666-animation02{
	position: fixed;
    top: 620px;
    left: 400px;
    width: 100%;
    	z-index: 2;
    opacity: 0.7;
  animation: left 10s linear infinite;
  transform: translateX(100%);
	}
	.main_666-animation02 img{
	height: 80px;
	}
		.main_666-animation03{
	position: fixed;
    top: 900px;
    left: 400px;
    width: 100%;
    	z-index: 2;
    opacity: 0.7;
  animation: left 15s linear infinite;
  transform: translateX(100%);
	}
	.main_666-animation03 img{
	height: 40px;
	}
footer{
	background-color: black;
	padding: 100px 0 20px 0;
	}
	.shere ul{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.footer_icon img{
		width: 100px;
	}
	.footer_name img{
		width: 250px;
	}
	.footer_border img{
		width: 160px;
		margin: 0 20px;
	}
	.to_top{
		padding: 100px 0;
		text-align: center;
	}
	.to_top img{
		width: 220px;
	}
	.footer{
		text-align: center;
		color: white;
		font-size: 25px;
	}
}
	@keyframes left {
  100% {
    transform: translateX(-100%);
  }
}
	@keyframes right {
  100% {
    transform: translateX(100%);
  }
	}