@charset"utf-8";

.main {
    background-color: white;
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    padding: 5%;
    box-shadow: 1px;
    border-top: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 3px solid #EEEEEE;
}

.main img {
    width: 100%;
    font-weight: normal;
}

h1 {
    padding-bottom: 10px;
    font-weight: normal;
}

p {
    padding-bottom: 20px;
}

ol {
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 14px;
}

h2 {
    font-size: 18px;
    padding: 10px 0;
    font-weight: normal;
}

h3 {
    font-size: 16px;
}

@media screen and (min-width:643px) {
    .clearfix {
        display: flex;
    }

    .mainMap {
        width: 50%;
        margin-bottom: 20px;
        margin-right: 20px;
    }

    .main {
        margin: 3% 3% 0;
        padding: 3%;
    }
}

@media screen and (min-width:998px) {
    .main {
        width: 850px;
        margin: 2% auto 0;
    }
}
