@charset"utf-8";
*{
    margin: 0;
    padding: 0;
}
body {
    background-image:url(../image/img_mainBg.jpg);
    margin: 0 auto;
    background-size: auto;
    font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,serif;
}
.container{
    max-width: 850px;
    margin: 0 auto;
    padding: 30px 0;
}
.main{
    float: right;
}
.icon{
    float: left;
}
nav {
    background-image:url(../image/img_menu_bg.png);
    background-size: cover;
    text-align: left;
    padding: 15px 0 15px 20px;
}
ul {
    list-style-type: none;
}
ul li {
    display: inline-block;

}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.footer {
    background-image:url(../image/img_containerBg.jpg);
    background-size: cover;
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
    padding: 50px 0;
}
.footer ul li:not(:first-child)::before{
    content: "";
    display: inline-block;
    width: 1px;
    height: 18px;
    background-color: white;
    vertical-align:super;
    margin: 0 5px;
}