@charset"utf-8";

@media screen and (min-width:643px) {
	main {
		background: url(../../image/special_bg_01.png);
	}

	.main_content-search {
		margin: 20px;
	}

	.main_content-search ul {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}

	.main_content-search li {
		position: relative;
		width: 380px;
		height: 80px;
		border: 3px solid gray;
		margin: 10px 10px;
	}

	.main_content-search a {
		filter: invert(50%) sepia(0%) saturate(11%) hue-rotate(143deg) brightness(101%) contrast(93%);
		display: block;
		width: 380px;
		height: 80px;
	}

	.main_content-search img {
		width: 300px;
		height: 50px;
	}

	.main_content-image {
		position: relative;
		z-index: 4;
		padding: 40px;
	}

	.main_content-image ul {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-wrap: wrap;
	}

	.main_content-image li {
		width: 400px;
		height: 700px;
		margin: 20px;
		border: 5px solid white;
	}

	.main_content-image li img {
		width: 300px;
		height: 350px;
	}

	.main_content-image li figcaption {
		width: 300px;
		text-align: center;
		font-weight: bold;
		font-size: 32px;
		padding-top: 80px;
	}
	.main_content-image li:first-of-type figcaption,
	.main_content-image li:nth-of-type(4) figcaption,
	.main_content-image li:nth-of-type(5) figcaption,
	.main_content-image li:nth-of-type(6) figcaption{
		font-size: 28px;
	}
	.main_content-image a {
		display: block;
		width: 300px;
		height: 600px;
		color: white;
		padding: 50px;
	}

	#cd {
		background-color: red;
		border: 3px solid red;
	}

	#cd a {
		filter: none;
	}

	#tokuten {
		width: 780px;
	}

	#tokuten a {
		width: 780px;
	}

	.main_content-search01 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
		opacity: 0;
		animation-name: main1;
		animation-duration: 2.5s;
		animation-iteration-count: infinite;
	}

	.main_content-search02 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
		opacity: 0;
		animation-name: main2;
		animation-duration: 2.5s;
		animation-iteration-count: infinite;
	}

	.main_content-search03 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
		opacity: 0;
		animation-name: main3;
		animation-duration: 2.5s;
		animation-iteration-count: infinite;
	}

}
