@charset"utf-8";

@media screen and (min-width:643px) {
	body{
		-webkit-text-size-adjust: 100%;
	}
	main {
		background: url(../image/bg.png);
		position: relative;
		z-index: 1;
	}

	.main_bg {
		padding: 50px 0 100px;
	}

	.main_tv {
		padding: 30px 20px 60px;
		text-align: center;
	}

	.main_tv-image img {
		width: 650px;
		margin-bottom: 100px;
	}

	.main_tv table {
		border-collapse: collapse;
	}

	.main_tv thead tr {
		color: red;
		border-bottom: 3px solid red;
	}

	.main_tv tbody tr {
		color: white;
		border-bottom: 3px solid white;
	}
	.main_tv tbody tr:nth-child(6) {
		border-bottom: none;
	}
	.main_tv p{
		color:white;
		font-size: 25px;
		padding:50px 0 100px;
	}
	
.main_tv th,
.main_tv td {
	width: 250px;
	height: 150px;
	font-size: 36px;
	font-weight: bold;
	text-align: center;
}
	.main_information {
		padding: 30px 20px 150px;
		text-align: center;
	}

	.main_information img {
		width: 250px;
		margin-bottom: 100px;
	}

	.main_information a{
		color:red;
		font-size: 36px;
		font-weight: bold;
		text-decoration: underline;
	}
		.main_information p{
		color:white;
		font-size: 36px;
		padding:50px 0 100px;
	}
	.main_information table {
		border-collapse: collapse;
	}

	.main_information thead tr {
		color: red;
		border-bottom: 3px solid red;
	}

	.main_information tbody tr {
		color: white;
		border-bottom: 3px solid white;
	}
	.main_information tbody tr:last-child{
		border-bottom: none;
	}

.main_information th,
.main_information td {
	width: 350px;
	height: 150px;
	font-size: 36px;
	font-weight: bold;
	text-align: center;
}

}
