@charset "utf-8";

@keyframes slide {
	0% {
		transform: translateX(0px);
	}

	100% {
		transform: translateX(-10px);
	}
}

@keyframes slide2 {
	0% {
		transform: translateX(0px);
	}

	100% {
		transform: translateX(10px);
	}
}

@keyframes slide3 {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(10px, -15px);
	}
}

@keyframes slide4 {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(-10px, 15px);
	}
}

.right {
	width: 87%;
}

.main_image-content {
	height: 100vh;
	overflow: scroll;
	overflow-x: hidden;
}

.main_image-content img {
	width: 100%;
	border-bottom: 5px solid gray;
}

.main_image-youtube img {
	position: absolute;
	top: 75vh;
	width: 250px;
	padding-left: 50px;
}

.main_image-youtube img:hover {
	opacity: 0.5;
}

#nav {
	position: absolute;
	top: 75vh;
	right: 0;
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
}

#block1 {
	position: absolute;
	top: -5vh;
	right: 2.5%;
	width: 180px;
	overflow: hidden;
}

#block2 {
	position: relative;
	left: 263%;
	width: 180px;
	overflow: hidden;
}

#block3 {
	position: relative;
	top: 5vh;
	left: 163%;
	width: 180px;
	overflow: hidden;
}

#block4 {
	position: relative;
	top: 10vh;
	left: 63%;
	width: 180px;
	overflow: hidden;
}

#block5 {
	position: relative;
	top: 15vh;
	right: 37%;
	width: 180px;
	overflow: hidden;
}

#block1:hover {
	width: 180px;
}

#nav a::before {
	content: "Key Visual";
	display: inline-block;
	background-color: black;
	color: white;
	padding-right: 10px;
	opacity: 0;
	width: 130px;
	transform: translateX(130px);
	transition: all .3s;
	position: relative;
	z-index: 9998;
}

#nav a {
	display: block;
	color: black;
	background-color: gray;
	width: 40px;
	height: 30px;
	margin: 0 0 0 auto;
}

#nav a p {
	margin: 0 0 0 auto;
	position: relative;
	z-index: 9999;
	bottom: 30px;
}

#nav a p:hover {
	transform: translateX(140px);
}

#nav a:hover {
	width: 200px;
	color: white;
	background-color: black;
}

#nav a:hover::before {
	transform: translateX(0px);
	opacity: 1;
	transition: all .3s;
}

.main_news {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 400px;
	border-bottom: 5px solid gray;
	background-color: #F3EEE9;
}

.main_news-title img {
	width: 200px;
	padding-right: 30px;
}

.main_news-list ul {
	padding-bottom: 30px;
}

.main_news-list .news_list {
	display: flex;
	align-items: center;
	padding-bottom: 20px;
}

.news_list {
	position: relative;
	display: inline-block;
	text-decoration: none;
}

.news_list span {
	color: #f6821e;
	font-size: 18px;
	font-weight: bold;
	padding-right: 20px;
}

.news_list p {
	color: black;
	font-weight: bold;
	width: 500px;
}

.news_list::after {
	position: absolute;
	bottom: 20px;
	left: 130px;
	content: '';
	width: 80%;
	height: 2px;
	background: black;
	transform: scale(0, 1);
	transform-origin: left top;
	transition: transform .3s;
}

.news_list:hover::after {
	transform: scale(1, 1);
}

.news_list-btn a {
	width: 130px;
	padding: 5px 10px;
	border: 2px solid #f6821e;
	color: #f6821e;
	width: 150px;
	font-weight: bold;
}

.news_list-btn a:hover {
	color: white;
	background-color: #f6821e;
}

.news_list-btn img {
	width: 20px;
	padding-right: 10px;
}

.main_content {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 65vh;
	background: url(image/main_bg.png);
	background-attachment: fixed;
	background-size: cover;
	filter: brightness(115%) contrast(110%);
	padding: 200px 0;
}

.main_content-movie {
	width: 400px;
}

.main_content-movie li {
	height: 250px;
}

.main_content-movie li img {
	position: relative;
	z-index: 2;
	width: 350px;
	filter: brightness(50%) contrast(100%);
}

.main_content-imgBr {
	position: relative;
	top: -180px;
	left: -10px;
	z-index: 1;
	width: 345px;
	height: 190px;
	border: 2px solid white;
}

.main_content-imgTxt {
	display: flex;
	position: relative;
	top: -205px;
	left: 10px;
	z-index: 2;
	width: 350px;
	height: 20px;
}

.main_content-imgTxt p {
	width: 300px;
	text-align: center;
	background-color: #F6821E;
	border: 2px solid #F6821E;
	font-size: 14px;
	font-weight: bold;
}

.main_content-imgTxt .icon {
	width: 50px;
	text-align: center;
	color: #F6821E;
	background-color: black;
	border: 2px solid black;
	font-size: 14px;
	padding-bottom: 3px;
}

.main_content-movieTtl img {
	width: 220px;
}

.main_content-movieBd img {
	position: relative;
	top: -500px;
	left: 250px;
	height: 500px;
}

.main_content-imgBox img:hover {
	filter: brightness(80%) contrast(100%);
}

.main_content-imgBox:hover ~ .main_content-imgTxt {
	animation: slide .3s ease-out forwards;
}

.main_content-imgBox ~ .main_content-imgTxt {
	animation: slide2 .3s ease-out forwards;
}

.main_content-imgBox:hover ~ .main_content-imgBr {
	animation: slide3 .3s ease-out forwards;
}

.main_content-imgBox ~ .main_content-imgBr {
	animation: slide4 .3s ease-out forwards;
}

.main_content-twitter {
	width: 600px;
}

.main_content-twitterTtl img {
	position: relative;
	left: 300px;
	width: 250px;
}

.main_content-twitterBd img {
	width: 500px;
	position: relative;
	top: -60px;
}

.main_content-twitterBd img:nth-of-type(2) {
	height: 435px;
}

.main_content-twitterTxt {
	position: relative;
	bottom: 570px;
	left: 50px;
	width: 400px;
}

.twitter-timeline:hover {
	background-color: none;
	opacity: 0.5;
}

.main_content-imgMenu {
	position: absolute;
	top: 200px;
	left: 50px;
	width: 170px;
}

.main_content-imgMenu li {
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
}

.main_content-imgMenu a {
	color: white;
}

.main_content-imgMenu li:first-of-type {
	color: #f6821e;
}

.main_content-imgMenu li:first-of-type::before {
	content: "";
	display: inline-block;
	width: 15px;
	height: 2px;
	margin: 5px 8px 5px 0;
	background-color: #f6821e;
}


#oll {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 1;
	z-index: 9998;
}

#mybutton {
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translateY(-80%) translateX(-50%);
	z-index: 9999;
}

#mybutton img {
	width: 100px;
}

#youtube_content {
	display: none;
}

.youtube_content-eria {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	margin: auto;
	z-index: 9999;
}

.youtube_content-eria iframe {
	width: 700px;
	height: 400px;
	border: 3px solid #f6821e;
}

#gauge {
	position: absolute;
	top: 50%;
	left: 45%;
	z-index: 9999;
	background: url(image/lord01.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 100px;
	height: 100px;
}
