@charset"utf-8";


@media screen and (min-width:643px) {
	main {
		background: url(../image/special_bg_01.png);
		position: relative;
		z-index: 1;
	}

	h1 {
		padding: 40px 0;
		text-align: center;
	}

	h1 img {
		height: 80px;
	}

	.main_content {
		display: block;
		padding: 40px;
		text-align: center;
	}

	.main_content-txt {
		padding-left: 20px;
	}

	.main_content img {
		width: 900px;
		border: 4px solid white;
		position: relative;
		z-index: 4;
	}

	.main_content-txt p {
		color: white;
		font-weight: bold;
		font-size: 32px;
		position: relative;
		z-index: 4;
		padding-top: 40px;
	}
}
