@charset"utf-8";


@media screen and (min-width: 643px) {
	main {
		background: url(../image/special_bg_01.png);
	}

	h1 {
		text-align: center;
		padding: 40px 0;
	}

	h1 img {
		height: 80px;
	}

	.main_content {
		display: block;
		padding: 40px;
		text-align: center;
	}

	.main_content-image img {
		position: relative;
		z-index: 4;
		width: 900px;
		border: 4px solid white;

	}

	.main_content-icon {
		position: relative;
		z-index: 5;
	}

	.main_content-icon img {
		width: 200px;
	}

	.main_content-txt {
		padding-left: 20px;
	}

	.main_content-txt p {
		position: relative;
		z-index: 4;
		color: white;
		font-weight: bold;
		font-size: 32px;
		padding-top: 40px;
	}

	.main_pagelink li {
		display: inline-block;
		font-size: 50px;
		font-weight: bold;
		padding: 0 20px;
	}

	.main_pagelink li a {
		color: white;
		display: block;
	}

	.link_btn1 {
		padding-right: 20px;
	}

	.link_btn2 {
		padding-left: 20px;
	}

	.link_btn1 img,
	.link_btn2 img {
		padding-bottom: 10px;
	}

	.link_btn1 img,
	.link_btn2 img,
	.main_pagelink li {
		opacity: 0.5;
	}
}

#oll {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.9;
	z-index: 9998;
}

#mybutton,
#mybutton2 {
	width: 30px;
	position: absolute;
	top: -20px;
	left: 815px;
}

#mybutton img,
#mybutton2 img {
	width: 30px;
}

#youtube_content,
#youtube_content2 {
	display: none;
}

.youtube_content-eria {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	margin: auto;
	z-index: 9999;
}

.youtube_content-eria iframe {
	width: 853px;
	height: 490px;
}

.main_content-img1 {
	position: absolute;
	bottom: 200px;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	animation-name: main1;
	animation-duration: 3.5s;
	animation-iteration-count: infinite;
}

.main_content-img2 {
	position: absolute;
	bottom: 200px;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	animation-name: main2;
	animation-duration: 3.5s;
	animation-iteration-count: infinite;
}

.main_content-img3 {
	position: absolute;
	bottom: 200px;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	animation-name: main3;
	animation-duration: 3.5s;
	animation-iteration-count: infinite;
}
}
