@charset"utf-8";


@media screen and (min-width:643px) {
	main {
		background: url(../image/special_bg_01.png);
		position: relative;
		z-index: 1;
	}

	h1 {
		padding: 40px 0;
		text-align: center;
	}

	h1 img {
		height: 80px;
	}

	.main_content {
		display: block;
		padding: 40px;
		text-align: center;
	}

	.main_content-txt {
		padding-left: 20px;
	}

	.main_content img {
		width: 900px;
		border: 4px solid white;
		position: relative;
		z-index: 4;
	}

	.main_content-txt p {
		color: white;
		font-weight: bold;
		font-size: 32px;
		position: relative;
		z-index: 4;
		padding-top: 40px;
	}
#oll {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.9;
    z-index: 9998;
}

#mybutton,
	#mybutton2{
	width: 30px;
    position: absolute;
    top: -20px;
    left: 815px;
    ;
}
#mybutton img,
#mybutton2 img{
	width: 30px;
	}
#youtube_content,
#youtube_content2
{

    display: none;
}

.youtube_content-eria {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    margin: auto;
    z-index: 9999;
}

.youtube_content-eria iframe {
    width: 853px;
    height: 490px;
}


}
