@charset"utf-8";

body {
    background-image: url(../image/bg_comment.png);
    background-size: cover;
background-position: center;
background-attachment: fixed;
height:100%;
}

main{
    max-width:850px;
    margin:0 auto;
    padding-top:50px;
}

h1{
    border-bottom:1px dotted #8C6400;
}

h2{
color:#8C6400;
font-size:13px;
font-weight: lighter;
padding-top:25px;
    opacity: 0.6;
}

span{
color:#8C6400;
font-size:10px;
font-weight: lighter;
}

.main_comment{
width:430;
}
main img{
padding-bottom:20px;
}

.main_comment p{

font-size:13px;
font-weight: lighter;
    opacity: 0.6;
}
