@charset "utf-8";

.header_nav li:nth-of-type(8) {
	transform: translateX(0px);
}

main {
	height: 1800px;
}

.main_content-img {
	position: absolute;
	top: 170px;
	left: 12%;
	width: 68%;
	height: 1450px;
	background-color: black;
	border: 2px solid #F6821E;
}

.main_content-img ul {
	text-align: right;
}

.main_content-img li {
	display: block;
}

.main_content-img li:first-of-type {
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 0 auto;
	background-color: #F6821E;
	padding: 5px;
}

.main_content-img li:nth-of-type(2) {
	text-align: center;
	color: #F6821E;
	font-size: 24px;
	font-weight: bold;
	padding: 40px 0;
}

.main_content-img li:nth-of-type(3) {
	text-align: center;
}

.main_content-img li:nth-of-type(3) img {
	width: 70%;

	filter: brightness(90%) contrast(90%);
}

.main_content-img li:nth-of-type(4) {
	color: white;
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	padding: 80px 50px 10px;
}

.main_content-img li:nth-of-type(5) {
	color: white;
	text-align: left;
	font-size: 15px;
	font-weight: bold;
	padding-left: 50px;
}

.main_content-img li:nth-of-type(5) img {
	position: relative;
	top: 3px;
	width: 25px;
	padding: 0 10px;
}

.main_content-img li:nth-of-type(5) a {
	color: #F6821E;
	font-size: 12px;
}

.main_content-img li:nth-of-type(6) {
	text-align: center;
}

.main_content-img li:nth-of-type(6) img {
	width: 90%;
	padding: 50px 0;
}

.main_content-img li:nth-of-type(7) {
	color: white;
	text-align: left;
	font-size: 18px;
	font-weight: bold;
	padding: 50px;
	line-height: 1.5em;
}

.main_content-img li:nth-of-type(7) p {
	padding-bottom: 40px;
}

.main_content-imgMenu {
	position: absolute;
	top: 200px;
	left: 50px;
	width: 150px;
}

.main_content-imgMenu ul {
	padding-bottom: 20px;
}

.main_content-imgMenu li {
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 10px;
	color: white;
}

.main_content-imgMenu a {
	color: white;
}

.main_content-imgMenu li:nth-child(2),
.main_content-imgMenu li:nth-child(3) {
	padding-left: 20px;
}

.main_content-imgMenu ul:nth-of-type(2) li:nth-of-type(2) a {
	color: #f6821e;
}

.main_content-imgMenu li:nth-child(2)::before,
.main_content-imgMenu li:nth-child(3)::before {
	content: "";
	display: inline-block;
	width: 15px;
	height: 2px;
	margin: 5px 8px 5px 0;
	background-color: white;
}

.main_content-imgMenu ul:nth-of-type(2) li:nth-of-type(2)::before {
	background-color: #f6821e;
	opacity: 1;
}

.main_content-imgMenu ul:nth-of-type(2) li:nth-of-type(2) {
	transform: translateX(0px);
}

.main_content-imgMenu li:nth-of-type(2)::before,
.main_content-imgMenu li:nth-of-type(3)::before {
	opacity: 0;
}

.main_content-imgMenu li:nth-of-type(2):hover::before,
.main_content-imgMenu li:nth-of-type(3):hover::before {
	opacity: 1;
	transition: all .3s;
}

.main_content-imgMenu li:nth-of-type(2),
.main_content-imgMenu li:nth-of-type(3) {
	transform: translateX(-25px);
}

.main_content-imgMenu li:nth-of-type(2):hover,
.main_content-imgMenu li:nth-of-type(3):hover {
	transform: translateX(0px);
	transition: all .3s;
}
