@charset"utf-8";

@media screen and (min-width: 643px) {
	main {
		background: url(../image/special_bg_01.png);
	}

	.main_content {
		display: flex;
		justify-content: center;
		padding: 30px 70px;
	}

	.main_content-txt {
		padding-left: 20px;
	}

	.main_content-txt img {
		position: relative;
		width: 40px;
		padding-right: 10px;
		top: 5px;
	}

	.main_content-txt a {
		position: relative;
		z-index: 4;
		overflow: auto;
		color: white;
		font-weight: bold;
		font-size: 32px;
		line-height: 1.7em;
	}

	.main_content-image img {
		position: relative;
		z-index: 4;
		width: 280px;
		border: 4px solid white;
	}

	.main_pagelink {
		position: relative;
		z-index: 4;
		padding-top: 100px;
		opacity: 1;
	}

	.main_pagelink li {
		display: inline-block;
		font-size: 50px;
		font-weight: bold;
		padding: 0 20px;
	}

	.main_pagelink li a {
		color: white;
		display: block;
	}

	.link_btn1 {
		padding-right: 20px;
	}

	.link_btn2 {
		padding-left: 20px;
	}

	.link_btn1 img,
	.link_btn2 img {
		padding-bottom: 10px;
	}

	.link_btn1 img,
	.main_pagelink li:nth-child(1) {
		opacity: 0.5;
	}
}
