@charset"utf-8";

@media screen and (min-width:643px) {

	main {
		background: url(../image/bg.png);
		position: relative;
		z-index: 1;
	}

	h1 {
		padding: 40px 0;
		text-align: center;
	}

	h1 img {
		height: 80px;
	}

	.main_content {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 80px 40px;
		text-align: center;
	}
	
	.main_content img {
		width: 400px;
		height: 35px;
		position: relative;
		z-index: 4;
	}

	.main_content-search{
		font-weight: bold;
		font-size: 36px;
		position: relative;
		z-index: 4;
		padding-top: 50px;
		text-align: center;
	}
	.main_content-search li{
		display: inline-block;
		border: 3px solid white;
		margin: 0 10px 40px;
	}
		.main_content-search li:first-child{
			background-color: red;
			border: none;
	}
	.main_content-search a{
		color: white;
		display: block;
		padding: 40px 20px;
	}
		.main_content-image {
		position: relative;
		z-index: 4;
		padding-top: 50px;
	}
	
	.main_content-image ul{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
	.main_content-image li{
		border: 5px solid white;
		margin: 20px;
		width: 400px;
		height: 620px;
	}
		.main_content-image li img{
			width: 300px;
	}
		.image-pd{
		padding:40px 0;
	}
			.image-pd2{
		padding:65px 0;
	}
		.main_content-image li p{
			text-align: center;
			font-weight: bold;
			font-size: 30px;
			width: 300px;
			padding-top: 80px;
	}
		.main_content-image a{
		color: white;
		display: block;
		padding: 100px 50px 50px;
	}
	
	.main_pagelink {
		position: relative;
		z-index: 4;
		margin-top:  100px;
		opacity: 1;
	}
	.main_pagelink li{
		display: inline-block;
		font-size: 50px;
		font-weight: bold;
		padding: 0 20px;

	}
	.main_pagelink li a{
		color: white;
		display: block;
	}
	.main_pagelink li:nth-child(1),
	.main_pagelink li:nth-child(2){
	opacity:0.5;
}
}
