@charset"utf-8";

@media screen and (min-width:643px) {
	main {
		background: url(../image/special_bg_01.png);
	}

	.main_content-search {
		margin: 20px;
	}

	.main_content-search ul {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}

	.main_content-search li {
		position: relative;
		width: 380px;
		height: 80px;
		border: 3px solid gray;
		margin: 10px 10px;
	}

	.main_content-search a {
		filter: invert(50%) sepia(0%) saturate(11%) hue-rotate(143deg) brightness(101%) contrast(93%);
		display: block;
		width: 380px;
		height: 80px;
	}

	.main_content-search img {
		width: 300px;
		height: 50px;
	}

	#bd_dvd {
		background-color: red;
		border: 3px solid red;
	}

	#bd_dvd a {
		filter: none;
	}

	#tokuten {
		width: 780px;
	}

	#tokuten a {
		width: 780px;
	}

	.main_content-image {
		position: relative;
		z-index: 4;
		padding: 40px;
	}

	.main_content-image ul {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-wrap: wrap;
	}

	.main_content-image li {
		border: 5px solid white;
		margin: 20px;
		width: 400px;
		height: 700px;
	}

	.main_content-image li img {
		width: 300px;
		height: 350px;
	}

	.main_content-image li p {
		width: 300px;
		text-align: center;
		font-weight: bold;
		font-size: 32px;
		padding-top: 80px;
	}

	.main_content-image a {
		display: block;
		padding: 50px;
		width: 300px;
		height: 600px;
		color: white;
	}

	.main_content-search01 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
		opacity: 0;
		animation-name: changeImage1;
		animation-duration: 3s;
		animation-iteration-count: infinite;
	}

	.main_content-search02 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
		opacity: 0;
		animation-name: changeImage2;
		animation-duration: 3s;
		animation-iteration-count: infinite;
	}

	.main_content-search03 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
		opacity: 0;
		animation-name: changeImage3;
		animation-duration: 3s;
		animation-iteration-count: infinite;
	}
}
