@charset"utf-8";
*{
    padding: 0;
    margin: 0;
}
body {
    font-family: sans-serif;
    max-width: 700px;
    margin: 0 auto;
}
ul{
    list-style: none;
}
header {
    width: 100%;
}
header p {
    padding: 20px 0 20px 1em;
}
p{
    padding: 10px 0;
}
h1 {
    color: white;
    background-color: black;
    padding-left: 10px;
}
h2 {
    color: white;
    padding: 5px 0 0 10px;
    background-color: #333333;
    margin-bottom: 10px;
}
ul li{
    font-weight: bold;
}
ul li::before{
    content: "";
    display: inline-block;
    background: black;
    width: 10px;
    height: 10px;
    margin: 0 5px 0 10px;
}
/*padding設定しないと飛び出ます。
なぜでしょうか。。。*/
ol{
    padding: 0px 0 20px 20px;
}
h3 {
    color: black;
    background-color: white;
    border: 1px solid black;
    padding: 3px 0 0 10px;
    margin: 20px 0 10px 0;
}
h4 {
    color: white;
    background-color: #999999;
    padding: 2px 0 0 10px;
}
footer {
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
    color: white;
    background-color: gray;
}
.claerfix{
    font-size: 14px;
}
.rist {
    width:100%;
}
.q_left {
    border-bottom: 1px solid black;
}
.q_right {
    text-align: right;
}
.left{
    width: 340px;
    margin-right: 5px;
    float: left;
}
.right{
    width: 340px;
    margin-left: 5px;
    float: left;
}
.link{
    border: 1px solid black;
    margin: 10px 0 10px 0;
    padding: 0 0 5px 0;
}
.tb {
    border-collapse: collapse;
    text-align: center;
}
.tb_top {
    background-color: #ffc0cb;
    border: 1px solid black;
    padding: 0 20px;
}
.tb_bottom {
    border: 1px solid black;
    padding: 0 20px;
}
.link .yohaku{
    padding: 0 15px;
}
.claerfix:after{
    content: "";
    display: block;
    clear: both;
}