@charset utf-8;

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: ???, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", HGS??E, ????, Meiryo, serif;
}
