@charset utf-8;

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: ???, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", HGS??E, ????, Meiryo, serif;
}

header {
    background-color: black;
    width: 100%;
    padding: 5px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.nav_left li {
    display: inline-block;
    padding: 5px 10px;
}

.nav_left li + li {
    border-left: 1px solid white;
}

.nav_right {
    text-align: right;

}

.nav_right li {
    display: inline-block;
    padding: 5px 10px;
}

.nav_right li + li {
    border-left: 1px solid white;
}