@charset"utf-8";

a:hover {
    opacity: 0.5;
}

.main {
    background-color: white;
    margin-top: 20px;
    padding: 5%;
    box-shadow: 1px;
    border-top: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 3px solid #EEEEEE;
    border-bottom: 3px solid #EEEEEE;
}

.main img {
    display: none;
}

h1 {
    padding-bottom: 10px;
    font-weight: normal;
}

p {
    padding-bottom: 20px;
    font-size: 14px;
    opacity: 0.5;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    opacity: 0.8;
    color: #00B2EA;
}

h2:hover {
    text-decoration: underline #00B2EA;
}

h3 {
    font-size: 16px;
    font-weight: normal;
    opacity: 0.8;
}

.tuzuki {
    text-align: right;
    opacity: 0.8;
    font-size: 15px;
}

.tuzuki a {
    color: #00B2EA;
}

.tuzuki a:hover {
    text-decoration: underline #00B2EA;
}

.border {
    margin: 20px 0;
    border-bottom: 1px dotted black;
}

.kako {
    padding: 10px 0 40px;
    opacity: 0.8;
}

.kako a {
    color: black;
}

.kako a:hover {
    text-decoration: underline black;
}

.side {
    display: none;
}


@media screen and (min-width:643px) {
    .main {
        margin: 3% 3% 0;
        padding: 3%;

    }

    .main img {
        display: inline;
    margin-bottom: 20px;
    }

    .kiji {
        display: flex;
    }

    .naiyou {
        margin-left: 20px;
    }
}

@media screen and (min-width:998px) {
    .main {
        padding: 4% 0 4% 6%;
        width: 700px;
        margin-right: 0;
        box-shadow: 1px;
        border-right: none;
    }

    .content {
        display: flex;
        margin: 0 auto;
        width: 950px;
    }


    .side {
        width: 250px;
        display: block;
        padding: 7% 2% 0 1%;
        margin-top: 3%;
        box-shadow: 1px;
        background: white;
        border-top: 1px solid #EEEEEE;
        border-bottom: 3px solid #EEEEEE;
        border-right: 3px solid #EEEEEE;
    }

    #border2 {
        border-left: 1px solid #DDDDDD;
        height: 95%;
    }

    .side h2 {
        color: black;
        margin-bottom: 10px;
    }

    .side p {
        color: #00B2EA;
    }

    .side p:hover {
        text-decoration: underline #00B2EA;
    }

    .side h2,
    h3,
    p {
        padding-left: 15px;
    }

    .tuzuki2 {
        text-align: right;
        font-size: 15px;
        opacity: 0.8;
    }

    .tuzuki2 a {
        color: black;
    }

    .tuzuki2 a:hover {
        text-decoration: underline black;
    }
}
